body { background-color: #ffffff;  }
h1 { color: #000000;  } 
p { color: #000000;  }


h3 { color: #000000;  }
p { color: #000000;  }

H3 { color: #000000;  }
p { color: #000000;  }

h4{ color: #8400ff;  }